$('#comment-form').html("<%= j render('comments/comment') %>");
$('#comment-count').html('<%= @comments.count %>');
$('#show-comments').html('<% @comments.each do |comment| %><div class="show-comments"><div class="commenter-image"><%= j link_to image_tag(comment.user.picture, :width => '40'), comment.user %></div><div class="commenter-meta"><%= j link_to(comment.user.name, comment.user) %><br><%= j comment.body %></div></div><% end %>');