<div class="top-module">
  <div class="title">
    <h3>Groups</h3>
  </div>
  <div class="link">
    <%= link_to '＋ New Group', new_group_path, :class => 'btn', :id => 'new_btn' %>
  </div>
</div>
<br>
<div id="groups-list">
  <div id="back-group">
    <%= link_to_previous_page @groups, prev_icon %>
  </div>
  <div id="groups-elements">
    <ul>
      <% @groups.each do |group| %>
        <li style="width: 150px; height: 150px;">
          <% select_random_user(group).each do |user| %>
            <%= image_tag user.picture, :width => '71' %>
          <% end %>
          <br>
          <%= link_to group.name, group %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="next-group">
    <%= link_to_next_page @groups, next_icon %>
  </div>
</div>

<br>

<div id="new-photos">
  <div class="top-module">
    <h3>New Photos</h3>
  </div>
  <br>
  <% @photos.each do |photo| %>
    <div class="new-photos-elements">
      <div class="box effect">
        <%= image_tag photo.avatar.url, :width => '200' %>
      </div>
      <br>
      from <%= link_to photo.user.name, photo.user %>
      <br>
      in <%= link_to photo.album.name, photo.album %>
      <br>
      <br>
    </div>
  <% end %>
</div>