<p id="notice"><%= notice %></p>
<div id ="group-information">
  <div id="group-main-information">
    <div id="group-name">
      <h3><%= @group.name %></h3>
    </div>
    <div id="group-edit">
      <%= link_to 'Edit', edit_group_path(@group), :class => 'btn' %>
    </div>
    <div id="group-description">
      <%= @group.description %>
    </div>
  </div>
  <div id="group-users">
    <% @group.users.each do |user| %>
      <%= link_to image_tag(user.picture, :width => '30'), user %>
    <% end %>
  </div>
  <div id="invite-friends">
    <a class="btn" href="#invitation_modal" role="button" data-toggle="modal" >
      + Invite Friends
    </a>
  </div>
</div>
<br>
<div class="top-module">
  <div class="title">
    <h3>Albums</h3>
  </div>
  <div class="link">
    <%= link_to '+ New Album', new_group_album_path(@group), :class => 'btn', :id => 'new_btn' %>
  </div>
</div>
<br>
<div id="albums-list">
  <% @group.albums.each do |album| %>
    <div class="albums-elements">
      <div class="box effect">
        <% if photo = album.photos.first %>
          <%= link_to image_tag(photo.avatar.url(:medium), :width => '215'), album %>
        <% else %>
          <%= link_to image_tag('empty-album.png', :width => '215'), album %>
        <% end %>
      </div>
      <div class="photo-text">
        <strong><%= link_to album.name, album %></strong>
        <br>
        <%= album.photos.size %>photos
      </div>
    </div>
  <% end %>
</div>

<!-- Modal START -->
<div id="invitation_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">
    <h2>Invite Friends in Group</h2>
    <%= text_field_tag :search, params[:search] %>
    <br>
    <% current_user.invitable_friends_to_group(@group).each do |friend| %>
      <%= image_tag friend.picture, :width => '30'%>
      <%= friend.name %>
      <%= form_for friend.user_relationships.build(:group_id => @group.id) do |f| %>
        <%= f.hidden_field :group_id %>
        <%= f.hidden_field :user_id %>
        <%= f.submit "Invite" %>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
  </div>
</div>
<!-- Modal END -->