<p id="notice"><%= notice %></p>

<div class="top-module">
  <div class="title">
    <h2><%= @album.name %></h2>
  </div>
  <div class="link btn-group">
    <%= link_to 'Edit', edit_album_path(@album), :class => 'btn' %>
    <%= link_to '+ Upload', new_album_photo_path(@album), :class => 'btn' %>
  </div>
</div>

<br>

<% @photos.each do |photo| %>
  <%= render 'photos/photo', :photo => photo %>
<% end %>

<div id="photos"></div>

<div id="more-btn">
  <%= link_to_next_page(@photos, '↓ more', remote: true, id: 'view_more') %>
</div>