<div class="box effect added-photo">
  <%= link_to image_tag(photo.avatar.url(:medium), :width => '215'), photo %>
  <div id="<%= "like_button#{photo.id}" %>" class="like-button">
    <%= render 'likes/like_button', :photo => photo %>
  </div>
  <div class="photo-info">
    <div id="<%= "like_count#{photo.id}" %>" class="like-count">
      <i class="icon-heart"></i> <%= photo.likes.count %>
    </div>
    <div id="<%= "comment_count#{photo.id}" %>" class="comment-count">
      <i class="icon-comment"></i> <%= photo.comments.count %>
    </div>
  </div>
</div>