<p id="notice"><%= notice %></p>

<div id="main-photo">
  <%= image_tag @photo.avatar.url %>
</div>
<div id="photo-meta">
  <div class="photo-user">
  <%= link_to image_tag(@photo.user.picture, :width => '40'), @photo.user %>
  <h3>by <%= link_to @photo.user.name, @photo.user %></h3>
  </div>
  <div id="<%= "like_button#{@photo.id}" %>" class="like-button">
    <%= render 'likes/like_button', :photo_id => @photo.id %>
  </div>
</div>
<br>
<div id="photos-album">
  <div class="top-module">
    <h3><%= @photo.album.name %>'s photos</h3>
  </div>
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.avatar.url(:thumb), :width => '50'), photo %>
  <% end %>
</div>
<div id="photos-reputation">
  <div id="photos-comment">
    <div class="top-module">
      <h3><span id="comment-count"><%= @photo.comments.count %></span> comments</h3>
    </div>
      <div id="comment-form">
      <%= render 'comments/comment', :photo => @photo %>
    </div>
    <br>
    <div id="show-comments">
      <% @photo.comments.each do |comment| %>
        <div class="show-comments">
          <div class="commenter-image">
            <%= link_to image_tag(comment.user.picture, :width => '40'), comment.user %>
          </div>
          <div class="commenter-meta">
            <%= link_to comment.user.name, comment.user %>
            <br>
            <%= comment.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="photos-like">
    <div class="top-module">
      <h3><span id="<%= "like_count#{@photo.id}" %>"><%= @photo.likes.count %></span> likes</h3>
    </div>
    <div id="like-user">
      <% @likes.each do |like| %>
        <%= image_tag like.user.picture, :width => '40' %>
      <% end %>
    </div>
  </div>
</div>